/* app css stylesheet */
.center { text-align: center }

nav h1 { 
  padding-left: 1em;
  color: white 
}

body > footer {
  margin-top: 5em;
  padding-top: 1.25em;
  padding-bottom: 1px;
  background-color: #333;
  color: #999;
}