@charset "UTF-8";

.center {
    text-align: center;
}

.hAir {
    padding: 0 1em;
}

.center {
  text-align: center;
}

nav h1 {
  padding-left: 1em;
  color: white;
}

body > footer {
  margin-top: 5em;
  padding-top: 1.25em;
  padding-bottom: 1px;
  background-color: #333;
  color: #999;
}

article.version-row {
  border: solid 1px #CCC;
  background: #fafafa;
  color: #555;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.4em;
  margin-top: 0.3em;
  padding: 0.2em 0.2em 0.1em 0.2em;
}

header.major-branch div.large-1.columns:first-child{
  padding-left: 0.4em;
  padding-top: 0.1em;
}

div.large-1.columns.pointer {
  font-size: 1.5em;
  text-align: right;
}

.borderbottom {
  border-bottom: solid 1px #CCC;
}

.pointer {
  cursor: pointer;
  color: #777;
}

.right {
  text-align: right;
}

.versionDetails {
  overflow:hidden;
  max-height:0;
  opacity:0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border-radius: 0 0 0.4em 0.4em;
}

.versionDetails div.row.labels {
  padding-top: 0.2em;
}

.versionDetailsLabels {
  border-bottom: 1px solid #DDD;
  color: #999;
  padding: 0.2em 0 0 0 ;
}

.minor-versions {
  background-color: #FFF;
  border-bottom: 0px solid #fafafa;
}

.edit-rule-button {
  margin: 0;
  margin-bottom: 0.1em;
}

section.open {
  max-height:800px;
  opacity:1;
}

section div {
  padding: 0.3em;
}

.bigIcon {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transition: transform 0.3s ease-in;
  -webkit-transition: -webkit-transform 0.3s ease-in;
}

.bigIcon:hover {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}

footer {
  font-size: 0.9em;
}

.row article header div:first-child {
  font-size: 2.2em;
  text-align: left;
  padding-left: 0;
}

.down, .up {
  font-size: 1.5em;
  cursor: pointer;
}

.ruleWidget fieldset .row .columns{
  font-size: 1em;
}

span.label.secondary.radius{
  font-size: 1em;
  white-space: normal;
  max-width: 40em;
}

.productRule{
  text-align: center;
}

input.button.radius {
  margin-left:0.3em;
}

.edit-icon {
  width: 32px;
  margin-top: -4px;
  padding: 0;
}

.button {
  padding-top: 0.4em;
  padding-bottom: 0.2em;
}

.topicon {
  width: 45px;
}

.progress-animated {
    filter: none;
    width: 0%;
}

#fileupload .fileupload-buttonbar {
    margin-bottom: 1.5em;
}

#fileupload .row.files {
    border-top: solid 1px #dddddd;
    padding-top: 0.55em;
    padding-bottom: 0.55em;
}

#fileupload .even {
    background: #f7f7f7;
}

#fileupload table {
    background: none;
    border: none;
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    left: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    left: -50px;
    height: 0px;
}

@media screen and (max-width: 980px) {
  .row .columns {
    font-size: 1.5em;
  }

  strong {
    font-size: 0.8em;
  }

  .borderbottom {
    font-size: 0.8em;
  }

  .ruleWidget fieldset .row .columns {
    font-size: 0.8em;
  }

  .ruleWidget select {
    font-size: 1.2em;
    white-space: normal;
  }

  .ruleWidget input {
    font-size: 1.3em;
  }
  
  span.label.secondary.radius {
    font-size: 1em;
    white-space: normal;
    max-width: 15em;
  }

  div.large-1.columns.pointer {
    font-size: 1.8em;
  }

  .productRule span span {
    font-size: 1.5em;
  }

  .productRule select {
    font-size: 1.5em;
  }

  button.button.radius {
    font-size: 0.95em;
  }
  .edit-icon {
    width: 64px;
    margin-top: -5px;
  }
}

@media screen and (min-width: 981px) {
  .row .columns {
    font-size: 1em;
  }
}

.top-bar-icon-product {
  height: 38px;
  margin-top: -3px;
  margin-right: 1em;
}