extends layout

block body
  div(ng-view class="content")
  footer(class='center') 
    p <a href="https://github.com/linagora/mupee">Mupee</a>, the Mozilla Updates Proxy.
    p Offered to you by the <a href="http://obm.org">OBM Core Team</a>, and <a href="http://linagora.com">Linagora</a>