h1(class="center") Welcome to Mupee !

div(class="row")
  div(class="large-6 columns center")
    a(href='#/Firefox')
      img(src='/images/firefox_logo_big.png' class='bigIcon')
      h4 Manage your Firefox updates
  div(class="large-6 columns center")
    a(href='#/Thunderbird')
      img(src='/images/thunderbird_logo_big.png' class='bigIcon')
      h4 Manage your Thunderbird updates
