h1.center Welcome to Mupee !

div.row
  div.large-6.columns.center
    a(href='#/Firefox')
      img.bigIcon(src='/images/firefox_logo_big.png')
      h4 Manage your Firefox updates
  div.large-6.columns.center
    a(href='#/Thunderbird')
      img.bigIcon(src='/images/thunderbird_logo_big.png')
      h4 Manage your Thunderbird updates
