nav(class="top-bar")
  ul(class="title-area")
    li(class="name")
      h1 Mupee


h1(class="center") Welcome to Mupee !

div(class="row")
  div(class="large-6 columns center")
    a(href='#/Firefox/versions')
      img(src='/images/firefox_logo_big.png')
      h4 Manage your Firefox updates
  div(class="large-6 columns center")
    a(href='#/Thunderbird/versions')
      img(src='/images/thunderbird_logo_big.png')
      h4 Manage your Thunderbird updates
</div>