div.center(data-ng-show="loadProgress") Loading...
div.center.alert-box.alert(data-ng-show="networkError") Oh my god ! We encountered an error :-(

h2.center.lightblack Default policies:
div.row
  article.twelve.columns.version-row(data-ng-init="opened = false")
    header.major-branch
      div.large-1.columns {{product}}
      div.large-10.columns.center.default-rule
        div(data-upgrade-action data-product="product" data-target-mode="product")
      div.large-1.columns

  div(data-extensions-list data-product="{{product}}")

h2.center.lightblack Known versions of {{product}}:

div(data-ng-show="!loadProgress && !networkError")
  div.row.collapse
    div.columns.center.alert-box.radius(data-ng-show="versions.length == 0") No {{product}} clients has connected to your Mupee yet

    article.twelve.columns.version-row(data-ng-repeat="branchDetail in versions" data-ng-init="opened = false")

      header.row.major-branch
          div.large-1.columns {{branchDetail.branch}}
          div.large-10.columns.center 
              span(data-upgrade-action data-product="product" data-version="branchDetail.branch" data-target-mode="product")

          div.center.large-1.columns.pointer(data-ng-click="opened = !opened")
            span(class="down" data-ng-show="opened == false") ▼
            span(class="up" data-ng-show="opened == true") ▲

      section.row.versionDetails(data-ng-class="{'open': opened == true}")
        div.row.labels.versionDetailsLabels
          div.large-2.columns
            span(class="grey") Version
          div.large-3.columns
            span(class="grey") Date
          div.large-2.columns
            span(class="grey") Locale
          div.large-2.columns
            span(class="grey") Channel
          div.large-3.columns
            span(class="grey") OS

        div.row.minor-versions(data-ng-repeat="version in branchDetail.members" data-ng-init="opened = false")
          div.large-2.columns
            strong {{version.version}}
          div.large-3.columns
              strong {{version.timestamp}}
          div.large-2.columns
              strong {{version.locale}}
          div.large-2.columns
              strong {{version.channel}}
          div.large-3.columns
              strong {{version.os}}

        div.row.extension-by-branch(data-extensions-list data-product="{{product}}" data-version="{{branchDetail.branch}}")

