div.row.collapse
  span(data-ng-show='mode == modes.DISPLAY')
    article.extensionsList.twelve.columns.version-row(data-ng-init="opened = false")
      header.row.major-branch
        div.large-1.columns Extensions
        div.large-10.columns.center
          span(data-upgrade-action data-product="product" data-version="version" data-target-mode="extension")

        div.center.large-1.columns.pointer(data-ng-click="opened = !opened" data-ng-show="extensions.length > 0")
          span(class="down" data-ng-show="opened == false") ▼
          span(class="up" data-ng-show="opened == true") ▲

      section.row.versionDetails(data-ng-class="{'open': opened == true}")
        div.row.labels.versionDetailsLabels
          div.large-3.columns.extension-title
            span Name
          div.large-9.columns
            span Policy

        div.row.minor-versions(data-ng-repeat="extension in extensions")
          div.large-3.columns.extension-title
            span.grey {{extension.name}}
          div.large-9.columns
            div(data-upgrade-action data-product="product" data-version="version" data-target-id="{{extension.id}}" data-target-mode="extension")

  span(data-ng-show='mode == modes.LOAD') Loading...
  span.error(data-ng-show='mode == modes.ERROR') Unable to retrieve the list of extensions
    div.code Code: {{error.status}}
    div.reason(data-ng-show="error.data") Reason: {{error.data}}
